.button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-color: whitesmoke;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #333333;
    -fx-border-color: lime;
}

.root {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label {
    -fx-fill: white;
}

.menu {
    -fx-background-color: chartreuse;
}

.scroll-pane {
    -fx-pref-width: 100%;
}

.heading {
    -fx-font-size: 4em;
    -fx-fill: whitesmoke;
}

.stats {
    -fx-fill: whitesmoke;
}